node_modules
.env
js/bot/dev/src/database/connectdb.js
js/bot/public/src/database/connectdb.js
js/website/dev/src/database/connectdb.js
js/website/public/src/database/connectdb.js
ts/bot/dev/src/database/connectdb.js
ts/bot/public/src/database/connectdb.js
ts/website/dev/src/database/connectdb.js
ts/website/public/src/database/connectdb.js